*{
    margin: 0px;
    padding: 0px;
}

#background{
    z-index: -10;
}

/* -------------------------------------------------------------------------------------------- */
#navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* background-color: white; */
    /* background-color: #f05e16; */
    /* border: 3px solid red; */
    color: #f05e16;
}
#navbarMenu{
    display: flex;
    list-style: none;
    /* width: 75%; */
}
#navbarSideButton{
    display: flex;
    list-style: none;
    /* width: 25%; */
}

.font-XL{
    font-size: xx-large;
}

.padding-left{
    padding-left: 50px;
}
/* -------------------------------------------------------------------------------------------- */
#intro{
    /* margin: "10px 10px 10px 10px"; */
    /* border: 3px solid red; */
    justify-content: center;
    margin: auto;
    width: 250px;
    height: 270px;
    text-align: center;
    /* border: 3px solid red; */
    /* background-color: white; */
    /* border-radius: 50px; */
    padding: 50px 30px 10px;
}
#intro-picture{    
    /* width: 300px; */
    /* margin: auto; */
    /* background-color: white; */
    /* border: 3px solid red; */
    height: 210px;
    /* text-align: center; */
}
#intro-name{
    /* color: white; */
    /* color: #d24e01; */
    color: #f05e16;
    /* width: 300px; */
    /* margin: auto; */
    /* text-align: center; */
    /* background-color: white; */
    /* border: 3px solid red; */
}
/* -------------------------------------------------------------------------------------------- */
#flex-aboutme-education{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    /* border: 3px solid red; */
    padding: 50px;
}
#aboutme{
    color: white;
    border: 3px solid white;
    /* box-shadow: 1px 1px 13px 5px white; */
    border-radius: 30px;
    /* height: 100px; */
    padding: 40px 30px;
}
#education{
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    /* width: 240px; */
    /* height: 55px; */
    padding: 40px 30px;
}
/* -------------------------------------------------------------------------------------------- */
#flex-expertise-certificate{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid red; */
    padding: 50px;
}
#expertise{
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 40px 30px;
}
#certificate{
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 40px 30px;
}
/* -------------------------------------------------------------------------------------------- */
#experience{
    border: 3px solid red;
    color: white;
    padding: 50px 30px 90px;
    text-align: center;
}
#experience table{
    margin: auto;
}
/* -------------------------------------------------------------------------------------------- */
/* #flex-language-hobby{
    display: flex;
    justify-content: space-evenly;
}
#language{
    color: white;
}
#hobby{
    color: white;
} */
/* -------------------------------------------------------------------------------------------- */
#flex-contact-contactme{
    display: flex;
    justify-content: space-evenly;
}
#contact{
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 40px 30px;
}
#contactme{
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 40px 30px;
}